* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #131319;
  font-family: Inter, sans-serif;
  color: #fff;
  max-width: 100vw;
  overflow: hidden;
}

.container::-webkit-scrollbar {
  width: 4px;               /* width of the entire scrollbar */
}

.section-item::-webkit-scrollbar {
  width: 0;
}

.container::-webkit-scrollbar-track {
  background: #232229;        /* color of the tracking area */
}

.container::-webkit-scrollbar-thumb {
  background-color: blue;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
}




#app {
  display: grid;
  grid-template-rows: 60px 1fr;
  height: 100vh;
}

.header {
  border-bottom: 1px solid rgba(255,255,255,0.3);
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 15px;
  background-color: #131319;
  padding: 5px 20px;
  z-index: 240;
}

.container {
  overflow-y: scroll;
  position: relative;
}

.back {
  position: absolute;
  top: 60px;
  left: 0;
  height: calc(100vh - 60px);
  width: 100vw;
  display: grid;
  grid-template-rows: repeat(30, 1fr);
}

.back > div {
  display: grid;
  grid-template-columns: repeat(45, 1fr);
}

.back > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.back > div > div > div {
  width: 3px;
  height: 3px;
  background-color: rgba(255,255,255, 0.1);
  border-radius: 50%;
}


.btn {
  height: 40px;
  font-size: 14px;
  padding: 4px 12px;
  background-color: #40404D;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

.btn-blue {
  background-color: #3C92FA;
}

.close-modal {
  cursor: pointer;
}

.remove-block {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 0;
  top: 0;
  color: #fff;
  background-color: rgba(0,0,0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 11px;
}

.configure-section-modal {
  position: absolute;
  width: 380px;
  height: 310px;
  left: 50%;
  top: 50%;
  background-color: #191821;
  transform: translate(-50%, -50%);
  border: 1px solid #33323d;
  overflow: hidden;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 40px 1fr;
  z-index: 250;
}

.configure-section-item-wrap {
  display: flex;
  column-gap: 20px;
  margin-bottom: 20px;
}

.modal-configure-section-item {
  width: 55px;
  height: 40px;
  border-radius: 5px;
  display: grid;
  border: 1px solid grey;
  cursor: pointer;
}

.modal-configure-section-item > div {
  border-right: 2px solid grey;
}

.modal-configure-section-item > div:last-of-type {
  border-right: none !important;
}


.modal-configure-section-item-active {
  border: 1px solid #34568B;
}

.modal-configure-section-item-active > div {
  border-right: 2px solid #34568B;
}

.modal-configure-section-item-active > div:last-of-type {
  border-right: none !important;
}


.modal-header {
  padding: 2px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #33323d;
  font-size: 14px;
  background-color: #14131c;
  cursor: move;
}

.modal-container {
  padding: 20px;
}



.configure-section-wrap {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 40px;
}

.configure-section-submit {
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 15px;
}


.configure-section-modal {
  display: none;
}

.configure-section-modal-active {
  display: grid;
}


.main-section {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.main-section > div {
  border-right: 3px solid #34568B;
}

.main-section > div:last-of-type {
  border-right: none !important;
}



.widget-modal {
  width: 400px;
  position: absolute;
  right: 0;
  top: 50%;
  background-color: #191821;
  transform: translate(-50%, -50%);
  border: 1px solid #33323d;
  overflow: hidden;
  border-radius: 6px;
  grid-template-rows: 40px 1fr;
  display: none;
  z-index: 250;
}

.widget-modal-active {
  display: grid;
}

.widget-modal-header {
  padding: 2px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #33323d;
  font-size: 14px;
  background-color: #14131c;
  cursor: move;
}

.widget-modal-content {
  padding: 20px;
}

.widget-modal-group {
  border-top: 1px solid rgba(255,255,255,0.1);
  position: relative;
  padding: 35px 10px 10px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.widget-modal-group-title {
  position: absolute;
  left: 0;
  top: 7px;
  font-size: 11px;
  color: #89898C;
  text-transform: uppercase;

}

.widget-modal-item {
  height: 38px;
  cursor: pointer;
  border-radius: 3px;
}


.section-widget-wrap {
  width: 100%;
  position: relative;
}

.section-widget-wrap-header {
  background-color: rgba(0,0,0, 0.3);
  height: 20px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
}

.section-widget-wrap .section-block-resize {
  display: none;
}

.section-widget-wrap:hover .section-block-resize {
  display: block;
}

.section-block-resize {
  background-color: rgba(0,0,0, 0.3);
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 100%;
  cursor: row-resize;
}

.section-item {
  overflow-y: scroll;
  max-height: 100%;
  padding-bottom: 100px;
}

.section-widget-wrap-header-item {
  width: 80px;
  cursor: pointer;
}







.hide-drag {
  transition: 0.01s;
  transform: translateX(-9999px);
}

#resizeable-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 143;
}

.resizable {
  position: absolute;
  z-index: 14;
}

.resizable-header {
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  width: 100%;
  background-color: rgba(0,0,0, 0.3);
}

.resizable:hover .resizers {
  opacity: 1;
}

.resizable .resizers {
  width: 100%;
  height: 100%;
  border: 3px solid #4286f4;
  box-sizing: border-box;
  opacity: 0;
}

.resizable .resizers .resizer{
  width: 10px;
  height: 10px;
  border-radius: 50%; /*magic to turn square into circle*/
  background: white;
  border: 3px solid #4286f4;
  position: absolute;
}

.resizable .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; /*resizer cursor*/
}
.resizable .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}